<%- include('partials/head') %>
<!-- <%- include('partials/header') %> -->

<section class="error404">
  <img src="/images/404error.png" alt="">
</section>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<%- include('partials/footer') %>