<%- include('partials/head') %>
<%- include('partials/header') %>

<main class="container-form">
  <section class="formularioproduto" aria-label="Formulário">
    <fieldset class="conta-contato">
      <h2 class="font-1-xl">Novo Produto</h2>
      <form class="form" method="POST" action="">
        <div class="form-info font-2-m-b font-1-m-b mb-3">
          <label class="form-label" for="nome">Nome do Produto: </label>
          <input class="form-control" type="text" name="nome" id="nome" placeholder="Nome" required>
        </div>
        <div class="form-info font-2-m-b font-1-m-b mb-3">
          <label class="form-label" for="descricao">Descrição do produto:</label>
          <input class="form-control" type="textarea" name="descricao" id="descricao" placeholder="descrição do produto" required>
        </div>
        <div class="form-info font-2-m-b font-1-m-b mb-3">
          <label  class="form-label" for="preco">Preço:</label>
          <input  class="form-control" type="decimal" name="preco" id="preco" placeholder="Preço" required>
        </div>
        <div class="form-info font-2-m-b font-1-m-b mb-3">
          <label class="form-label" for="promocao">Promoção:</label>
          <input class="form-control" type="decimal" name="promocao" id="promocao" placeholder="Promoção" required>
        </div>
        <div class="form-info font-2-m-b font-1-m-b mb-3">
          <label class="form-label" for="marca_id">Marcas:</label>
          <select class="form-select" id="marcas" name="marca" required>
            <option class="selected" selected disabled value="">Selecione</option>
<% for (marca of marcas) { %> 
            <option class="selected" value="<%= marca.id %>"><%= marca.nome %> </option>
<% } %> 
          </select>
        </div>
        </div>
        <div class="form-info font-2-m-b font-1-m-b mb-3">
          <label class="form-label" for="categoria">Categoria</label>
          <select class="form-select" id="categoria" name="categoria" required>
            <option selected disabled value="">Selecione</option>
<% for (categoria of categorias) { %> 
              <option value="<%= categoria.id %>"><%= categoria.nome %> </option>
<% } %> 
            </select>
        </div>

        <button class="botao-contato font-1-m-b">Adicionar Produto</button>
      </form>
    </fieldset>
  </section>
  <div class="container">
  <table class="table table-striped table-info tabelaproduto">
    <thead class="form-result">
      <tr class="fontecategoriaproduto">
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Promoção</th>
        <th>Marca</th>
        <th>Categoria</th>
      </tr>
    </thead>
    <tbody class="body-marcas">
<% for (produto of produtos) { %> 
      <tr>
        <td class="fonteproduto"><%= produto.id %></td>
        <td class="fonteproduto"><%= produto.nome %></td>
        <td class="fonteproduto"><%= produto.descricao %></td>
        <td class="fonteproduto"><%= produto.preco %></td>
        <td class="fonteproduto"><%= produto.promocao %></td>
        <td class="fonteproduto"><%= produto.marca %></td>
        <td class="fonteproduto"><%= produto.categoria %></td>
      </tr>
<% } %> 
    </tbody>
  </table>
</div>
</main>

<%- include('partials/footer') %>