<%- include('partials/head') %>
<%- include('partials/header')  %>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/banner2.svg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/banner 20off.svg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/banner3.svg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h2>Nossos Produtos</h2>

<section class="container lista-produtos">
  <div class="lista-racao">
    <% for (produto of produtos) { %> 
    <a href="/produto/<%= produto.id %> ">
      <div class="produto-racao">
        <img src="/images/produtos/<%= produto.imagem %> " alt="<%= produto.nome %>">
        <p class="font-2-xs produtos-descricao"><%= produto.nome %> </p>
        <% if(produto.promocao) { %> 
        <p class="font-2-xs produtos-preco riscado">R$ <%= produto.preco.replace('.', ',') %> </p>
        <% } %>
        <p class="font-2-xs font-1-m-b">R$ <%= produto.promocao ? produto.promocao.replace('.', ',') : produto.preco.replace('.', ',') %> </p>
        <button class="botao-comprar font-2-xs">Comprar</button>
      </div>
    </a>
    <% } %> 
  </div> 
</section>


<section class="container">
  <div class="lojas">
    <div class="lojas-conteudo">
      <h2 class="font-1-xl">Encontre a loja mais próxima de você.</h2>
      <p class="font-1-s">O MundoPet é uma das maiores redes varejistas e pioneira no conceito de megaloja voltada especialmente para o cuidado de animais de estimação. Hoje, com mais de 130 lojas espalhadas pelo Brasil, nossa principal transação é a de afetos, num lugar que proporciona tantos encontros: de colaboradores, de clientes, de pets. Somos quem abastece a parte divertida do lar. São mais de 20 mil itens para cachorros, gatos, aves, roedores, peixes e artigos para casa e jardim. Somos movidos por uma razão de ser. Por algo maior que nos motiva todos os dias. O que queremos de verdade é inspirar pessoas a se reconectar com a sua melhor natureza.</p>
    </div>
    <img src="images/lojas-mundo-pet.png" alt="Ilustração da loja MundoPet">
  </div>
</section>


<%- include('partials/footer') %>