<%- include('partials/head') %>
<%- include('partials/header') %>

<main class="container-form">
  <script>
    function goBack() {
      window.history.back()
    }
  </script>
  <button onclick="goBack()" class="botao-contato font-1-m-b"> &#129044; Voltar</button>
    <section aria-label="Formulário">
      <fieldset class="conta-contato">
        <h2 class="font-1-xl">Adicione uma nova categoria</h2>
          <form class="form" action="" method="POST">
            <div class="form-info font-2-m-b font-1-m-b">
              <label for="nome">Nome:</label>
              <input type="text" name="nome" id="nome" placeholder="Nome" required>
            </div>
            <button class="botao-contato font-1-m-b">Incluir</button>
        </form>
      </fieldset>
    </section>

    <section class="table-responsive bg-form">
      <table class="table align-middle">
        <thead class="form-result">
          <tr class="font-1-xl">
            <th>Id</th>
            <th>Nome</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody class="body-marcas">
          <% for (categoria of categorias) { %> 
            <tr class="descritivos">
              <td class="font-1-m-b"><%= categoria.id %> </td>
              <td class="font-1-m-b"><%= categoria.nome %> </td>
              <td class="align-top">
                <a href="/admin/produtos/<%= produto.id || 0 %>/excluir"><img class="icones-descricao" src="/images/excluir.png" width="17px" alt="excluir"></a>
                <a href="/admin/produtos/<%= produto.id || 0 %>/editar"><img src="/images/editar-texto.png" width="17px" alt="editar"></a>
              </td>
            </tr>
            <% } %> 
        </tbody>
      </table>
    </section>
  </main>

<%- include('partials/footer') %>