<%- include('partials/head') %>
<%- include('partials/header') %>

<main class="container-form">
  <section class="formularioproduto" aria-label="Formulário">
    <fieldset class="conta-contato">
      <h2 class="font-1-xl">Novo Cadastro</h2>
      <form class="form form-cadastro-cliente" method="POST" action="">
        <div class="form-info form-info-first font-2-m-b font-1-m-b mb-5">
          <label class="form-label" for="nome">Nome: </label>
          <input class="form-control form-nome-produto" type="text" pattern="([aA-zZ]+)" placeholder="Apenas letras" name="nome" id="nome"  required>
          <label class="form-label" for="nome">Sobrenome: </label>
          <input class="form-control form-nome-produto" type="text" pattern="([aA-zZ]+)" placeholder="Apenas letras" name="sobrenome" id="sobrenome" required>
        </div>

        <div class="form-cadastro">
          <div class="form-info font-2-m-b font-1-m-b mb-3">
            <label class="form-label" for="email">Email:</label>
            <input class="form-control form-nome-produto" type="email" placeholder="seunome@mail.com" name="email" id="email" required>
          </div>
          <div class="form-info font-2-m-b font-1-m-b mb-3">
            <label  class="form-label" for="cpf">CPF:</label>
            <input  class="form-control" type="text" placeholder="Apenas números" name="cpf" id="cpf" pattern="([0-9]{2}[\.]?[0-9]{3}[\.]?[0-9]{3}[\/]?[0-9]{4}[-]?[0-9]{2})|([0-9]{3}[\.]?[0-9]{3}[\.]?[0-9]{3}[-]?[0-9]{2})" required>
          </div>
          
  <!-- 
            <div class="form-info font-2-m-b font-1-m-b mb-3">
              <label class="form-label" for="endereço">Endereço:</label>
              <input class="form-control form-descricao-produto" type="textarea" name="endereço" id="endereço" placeholder="Endereço" required>
            </div>

            <div class="form-info font-2-m-b font-1-m-b mb-3">
              <label class="form-label" for="cidade">Cidade:</label>
              <input class="form-control form-descricao-produto" type="text" name="cidade" id="cidade" placeholder="cidade" required>
            </div>

            <div class="form-info font-2-m-b font-1-m-b mb-3">
              <label class="form-label" for="estado">Estado:</label>
              <input class="form-control form-descricao-produto" type="text" name="estado" id="estado" placeholder="Estado" required>
            </div>

            <div class="form-info font-2-m-b font-1-m-b mb-3">
              <label class="form-label" for="cep">CEP:</label>
              <input class="form-control form-descricao-produto" type="number" name="cep" id="cep" placeholder="CEP" required>
            </div>
  -->
          <div class="form-info font-2-m-b font-1-m-b mb-3">
            <label class="form-label" for="phone">Telefone:</label>
            <input class="form-control" type="tel" name="phone" placeholder="(DDD) + número" id="phone" required>
          </div>
        </div>

<!-- 
        <div class="form-info font-2-m-b font-1-m-b mb-3">
            <label class="form-label" for="masculino">Masculino:</label>
            <input class="form-control" type="radio" name="masculino" id="masculino" value="masculino" required>
            <label class="form-label" for="feminino">Feminino:</label>
            <input class="form-control" type="radio" name="feminino" id="feminino" value="feminino" required>
            <label class="form-label" for="outro">Outro:</label>
            <input class="form-control" type="radio" name="outro" id="outro" value="outro" required>
          </div>
          <div class="form-info font-2-m-b font-1-m-b mb-3">
            <label class="form-label" for="data-nascimento">Data de nascimento:</label>
            <input class="form-control" type="date" name="data-nascimento" id="data-nascimento" required>
          </div>
-->
        <% if (!locals.enderecos) { %>
          <!-- Não temos endereços cadastrados -->
        <% } else { 
          for (const endereco of enderecos) { %>
            <a href="/minhaconta/endereco/<%= endereco.id %>"><%= endereco.alias %></a>        
            
        <% }
        } %> 
        <button class="botao-contato font-1-m-b">Enviar</button>
      </form>
    </fieldset>
  </section>

</main>

<%- include('partials/footer') %>