<%- include('partials/head') %>
<%- include('partials/header') %>

<main class="container-form">
  <form class="row g-3 needs-validation form-minha-conta" novalidate>
    <h2 class="font-1-l">Minha Conta:</h2>
    <div class="col-md-4">
      <div class="form-outline">
        <label for="nome" class="form-label font-1-s">Primeiro Nome:</label>
        <input type="text" class="form-control font-1-s" id="nome" value="<%= usuario.nome %>" name="nome" required />
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-outline">
        <label for="validationCustom02" class="form-label font-1-s">Sobrenome:</label>
        <input type="text" class="form-control font-1-s" value="<%= usuario.sobrenome %>" name="sobrenome" id="sobrenome" required />
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-outline">
        <label for="validationCustom02" class="form-label font-1-s">CPF:</label>
        <input type="text" class="form-control font-1-s" value="<%= usuario.cpf %>" name="cpf" id="cpf" required />
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-outline">
        <label for="validationCustom03" class="form-label font-1-s">Email: </label>
      </div>
      <div>
        <input type="email" class="form-control font-1-s" value="<%= usuario.email %>" name="email" id="email" required />
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-outline">
        <label for="validationCustom05" class="form-label font-1-s">Telefone:</label>
        <input type="tel" class="form-control font-1-s" name="phone" value="<%= usuario.telefone %>" id="phone" required />
      </div>
    </div>

    <!-- <div class="col-12">
      <div class="form-check">
        <label class="form-check-label font-1-s" for="invalidCheck">Concorde com os termos e condições.</label>
        <input class="form-check-input font-1-s" type="checkbox" value="" id="invalidCheck" required />
      </div>
    </div> -->
    <label for="">Endereços: </label>
    <% if (usuario.endereco.length === 0) { %>

      <a class="botao-comprar font-2-s" href="/minhaconta/endereco/adicionar/">Adicionar Endereço</a>
    <% } else { %>
      <% for (const endereco of usuario.endereco) { %>
        <a class="botao-comprar font-2-s" href="/minhaconta/endereco/<%= endereco.id %>"><%= endereco.alias %></a>        
    <% }
    } %> 
  
    <div class="col-12">
      <button class="botao-comprar font-2-s" type="submit">Editar</button>
    </div>
    
  </form>
</main>

<%- include('partials/footer') %>