<%- include('partials/head') %>
<%- include('partials/header') %> 

<section class="container">
  <script>
    function goBack() {
      window.history.back()
    }
  </script>
  <button onclick="goBack()" class="botao-contato font-1-m-b"> &#129044; Voltar</button>
  <div class="caixa-produto">
  <div>
      <img src= "/images/imagemDefault.svg  " alt="">
  </div>
  <div class="produto-conteudo">
      <h2 class= "font-2-l-b" > <%= produto.nome %></h2>
      <h2 class="font-2-m"> <%= produto.categoria.nome %> </h2> <h2 class="font-2-m">marca: <%= produto.marca.nome %></h2>
      <h2 class="font-2-xs font-1-m-b"> preço: <%= produto.preco %></h2>
      <button class="botao-comprar font-2-xs">Adicionar ao carrinho</button>
      <h2 class="teste font-1-m-b"> Descrição: </h2>
      <p class="font-1-xs"> <%= produto.descricao %></p>
  </div>
</div>
</section>

<%- include('partials/footer') %>