<%- include('partials/head') %>
<%- include('partials/header') %>

<section>
    <div>
        <img src="<%= produto.imagem %>" alt="">
    </div>
    <div>
        <h2><%= produto.nome %></h2>
        <h3><%= produto.categoria %> | <%= produto.marca %></h3>
    </div>
    <div>
        <p><%= produto.descricao %>
        </p>
    </div>
    <div>
        <h3><%= produto.preco %></h3>
        <button class="botao-comprar font-2-xs">Adicionar ao carrinho</button>
    </div>
</section>

<%- include('partials/footer')%>