<%- include('partials/head') %>
<%- include('partials/header') %>

<main class="container-form">
  <script>
    function goBack() {
      window.history.back()
    }
  </script>
  <button onclick="goBack()" class="botao-contato font-1-m-b"> &#129044; Voltar</button>
  <section class="formularioproduto" aria-label="Formulário">
    <fieldset class="conta-contato">
      <h2 class="font-1-xl">Editar Produto</h2>
      <form class="form" method="POST" action="/admin/produtos/editar/<%= produto.id %>/?_method=put" enctype="multipart/form-data">
        <div class="form-info form-info-first font-2-m-b font-1-m-b mb-5">
          <label class="form-label" for="nome">Nome do Produto: </label>
          <input class="form-control form-nome-produto" type="text" name="nome" id="nome" value="<%= produto.nome %>" required>
        </div>

        <div class="form-info font-2-m-b font-1-m-b mb-3">
          <label class="form-label" for="marca_id">Marcas:</label>
          <select class="form-select" id="marcas" name="marca" required>
            <option class="selected" disabled value="">Selecione</option>
<% for (marca of marcas) { %> 
            <option class="selected" value="<%= marca.id %>" <% marca.id = produto.marca.id ? 'selected' : '' %>><%= marca.nome %> </option>
<% } %> 
          </select>
        </div>

        <div class="form-info font-2-m-b font-1-m-b mb-3">
          <label class="form-label" for="categoria">Categoria:</label>
          <select class="form-select form-categoria" id="categoria" name="categoria" required>
            <option disabled value="">Selecione</option>
<% for (categoria of categorias) { %> 
              <option value="<%= categoria.id %>" <% categoria.id = produto.categoria.id ? 'selected' : '' %>><%= categoria.nome %> </option>
<% } %> 
            </select>
        </div>

        <div class="form-info font-2-m-b font-1-m-b mb-3">
          <label  class="form-label" for="preco">Preço:</label>
          <input  class="form-control" type="decimal" name="preco" id="preco" value="<%= produto.preco %>" required>
        </div>

        <div class="form-info font-2-m-b font-1-m-b mb-3">
          <label class="form-label" for="promocao">Promoção:</label>
          <input class="form-control" type="decimal" name="promocao" id="promocao" value="<%= produto.promocao %>">
        </div>

        <div class="form-info font-2-m-b font-1-m-b mb-3">
          <label class="form-label" for="descricao">Descrição do produto:</label>
          <textarea class="form-control form-descricao-produto" name="descricao" id="descricao" required><%= produto.descricao %></textarea>
        </div>

        <div class="form-info font-2-m-b font-1-m-b mb-3">
          <label class="form-label" for="imagem">Imagem do Produto:</label>
          <img src="/images/produtos/<%= produto.imagem %>" alt="imagem do produto">
          <input class="form-control" type="file" name="imagem" id="imagem" >
        </div>

        <button class="botao-contato font-1-m-b">Gravar</button>
      </form>
    </fieldset>
  </section>

</main>

<%- include('partials/footer') %>