<%- include('partials/head') %>
<%- include('partials/header') %> 

<section class="container">
  <script>
    function goBack() {
      window.history.back()
    }
  </script>
  <button onclick="goBack()" class="botao-contato font-1-m-b"> ← Voltar</button>
  <div class="caixa-produto">
  <div>
      <img src= "/images/produtos/<%= produto.imagem %>" alt="">
  </div>
  <div class="produto-conteudo">
      <p class= "font-2-l-b" id="nomeProduto"> <%= produto.nome %></p>
      <p class="font-2-m"> <%= produto.categoria.nome %> </p> <p class="font-2-m">marca: <%= produto.marca.nome %></p>

      <p class="font-2-xs font-1-m-b" id="precoProduto"> preço: <%= produto.preco %></p>
      <p class="font-2-xs font-1-m-b" id="promocao"> promoção: <%= produto.promocao %></p>

        <button class="botao-comprar font-2-xs" onclick="adicionarCarrinho(<%= produto.id %>, '<%= produto.nome %>' , <%= produto.promocao ? produto.promocao : produto.preco %>)">Adicionar ao carrinho</button>

      <p class="teste font-1-m-b"> Descrição: </p>
      
      <p class="font-1-xs"> <%= produto.descricao %></p>
  </div>
</div>
</section>

<%- include('partials/footer') %>