<%- include('partials/head') %>
<%- include('partials/header') %>

<main class="container-form">
  <button class="botao-contato font-1-m-b">
    <a href="/admin">← Voltar</a>  
    </button>
  <form class="row g-3 needs-validation form-minha-conta" method="POST" action="" enctype="multipart/form-data" novalidate>
    <h2 class="font-1-l">Novo Produto</h2>
    <div class="col-md-4">
      <div class="form-outline">
        <label for="nome" class="form-label font-1-s">Nome do Produto:</label>
        <input type="text" class="form-control font-1-s" name="nome" id="nome" placeholder="Nome" required />
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-outline">
        <label for="validationCustom02" class="form-label font-1-s">Marcas:</label>
        <select class="form-select" id="marcas" name="marca" required>
          <option class="selected" selected disabled value="">Selecione</option>
<% for (marca of marcas) { %> 
          <option class="selected" value="<%= marca.id %>"><%= marca.nome %> </option>
<% } %> 
        </select>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-outline">
        <label for="validationCustom02" class="form-label font-1-s">Categoria:</label>
        <select class="form-select form-categoria" id="categoria" name="categoria" required>
          <option selected disabled value="">Selecione</option>
<% for (categoria of categorias) { %> 
            <option value="<%= categoria.id %>"><%= categoria.nome %> </option>
<% } %> 
          </select>
      </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-outline">
        <label for="preco" class="form-label font-1-s">Preço:</label>
        <input type="decimal" class="form-control font-1-s" name="preco" id="preco" placeholder="Preço" required />
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-outline">
        <label for="promocao" class="form-label font-1-s">Promoção:</label>
        <input type="decimal" class="form-control font-1-s" name="promocao" id="promocao" placeholder="Promoção" />
      </div>
    </div>

    <div class="col-12">
      <div class="form-check">
        <label class="font-1-s" for="descricao">Descrição do produto:</label>
        <textarea class="font-1-s descricao-produto" name="descricao" id="descricao" cols="30" rows="10"></textarea>
      </div>
    </div>

    <div class="col-12">
      <div class="form-check">
        <label class="form-label font-1-s" for="imagem">Imagem do Produto:</label>
        <input class="form-input font-1-s" type="file" name="imagem" id="imagem" />
      </div>
    </div>

    <div class="col-12">
      <button class="botao-contato font-1-m-b">Adicionar Produto</button>
    </div>
  </form>



























  <section class="table-responsive bg-form">
    <table class="table align-middle">
      <thead class="form-result">
        <tr class="align-bottom font-2-xs">
          <th>ID</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Promoção</th>
          <th>Marca</th>
          <th>Categoria</th>
          <th> Ações</th>
        </tr>
      </thead>
      <tbody class="body-marcas">
  <% for (produto of produtos) { %> 
        <tr class="descritivos">
          <td class="align-top font-2-xs"><%= produto.id %></td>
          <td class="align-top font-2-xs"><%= produto.nome %></td>
          <td class="align-top font-2-xs"><%= produto.descricao %></td>
          <td class="align-top font-2-xs"><%= produto.preco %></td>
          <td class="align-top font-2-xs"><%= produto.promocao %></td>
          <td class="align-top font-2-xs"><%= produto.marca.nome %></td>
          <td class="align-top font-2-xs"><%= produto.categoria.nome %></td>
          <td class="align-top">
          <a href="/admin/produtos/remover/<%= produto.id %>"><img class="icones-descricao" src="/images/excluir.png" width="17px" alt="excluir"></a>
          <a href="/admin/produtos/editar/<%= produto.id %>"><img src="/images/editar-texto.png" width="17px" alt="editar"></a>
          </td>
        </tr>
  <% } %> 
      </tbody>
    </table>
  </section>
</main>

<%- include('partials/footer') %>