<%- include('partials/head') %>
<%- include('partials/header') %>


  <section class="container banner-cachorro">
    <img src="/images/banner_cachorros.png" alt="">
  </section>


  <section class="container produtos-cachorro">
    <h1 class="font-1-xl">Produto <%= title %> </h1>
    <p class="font-2-xs texto-cachorro">O Mundo Pet tem tudo para cachorro! Se você é tutor de primeira viagem ou já tem muitos peludos em casa, aqui você vai encontrar itens de diferentes categorias, da alimentação do seu cãozinho, aos cuidados com pelo e pelagem, itens de higiene, equipamentos de segurança, brinquedos e muito mais!</p>
  </section>

  <section class="container lista-produtos">
    <div class="lista-racao">
      
      
      <% for (produto of produtos) { %> 
      <a href="/produto/<%= produto.id %> ">
        <div class="produto-racao">
          <img src="/images/produtos/<%= produto.imagem %> " alt="<%= produto.nome %>">
          <p class="font-2-xs produtos-descricao"><%= produto.nome %> </p>
          <% if(produto.promocao) { %> 
          <p class="font-2-xs produtos-preco riscado"><%= produto.preco %> </p>
          <% } %>
          <p class="font-2-xs font-1-m-b">R$ <%= produto.promocao ? produto.promocao : produto.preco %> </p>
          <button class="botao-comprar font-2-xs">Comprar</button>
        </div>
      </a>
      <% } %> 
    </div> 
  </section>

</main>
<%- include('partials/footer') %>